.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd
.env
.env.*
.env.local
.DS_Store
Thumbs.db
.idea/
.vscode/
dist/
build/
htmlcov/
.coverage
coverage.xml
locust-report*
*.log
!docker/.env.app.example
!docker/.env.elasticsearch
pytest-cache-files*/